node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env
// git config --global user.email "alalpha394@gmail.com"
// git config --global user.name "Alpha"
